@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

html,body{
    font: 18px 'Open Sans', sans-serif;
    margin: 0 auto;
}

html{
    background-image: url(../asset/fond.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}
body{
    margin: auto;
    box-shadow: 0 0 1.0rem rgba(0,0,0,0.5);
    background-color: #ffffff;
    max-width: 1000px;
    padding: 5px;
}
h1,h2{
    
    font: 25px "Zhi Mang Xing";
}
h1::before{
    content: '\2605';
    color: #FF0000;
}
h1{
    text-align: center;
    font-size: 50px;
}

h2{
    
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;

}
h2::after{
    content:'\203A';
    padding-left: 5px;
}

ol li {
    line-height: 1.5rem;
}
section p{
    padding: 3px;
    line-height:1.5rem;
    
}
section p img {
    display: block;
    width: 100%;
}
.bookmark:hover{
    background-color: #e74c3c;
}
a{
    text-decoration: none;
}
